.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.pokemon-logo {
  position: absolute;
  top: 10px;
  width: 365px;
  transition: 0.1s linear;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes ballRoll {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(30deg);}
  50%  {transform: rotate(-30deg);}
  100% {transform: rotate(0deg);}
}

.ball-img {
  height: 35vmin;
  transition: 0.1s linear;
  transform-origin: bottom;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.anim {
  animation-name: ballRoll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.ball-img:hover {
  height: 36.5vmin;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-img {
  height: 600px;
  border-radius: 4%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.pokemon-img {
  position: absolute;
  align-self: center;
  top: 48px;
  height: 255px;
  transition: 0.1s linear;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.prev-pokemon-img {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 40px;
  margin-left: 25px;
  height: 45px;
  transition: 0.1s linear;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.pokemon-header {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 101px;
  margin-top: 20px;
}

#pokemon-id {
  font-family: 'Gill Sans Std Light';
}

#pokemon-name {
  font-family: 'Gill Sans Std Bold';
  text-transform: capitalize;
  font-size: 28.5px;
}

.pokemon-hp-header {
  position: absolute;
  top: 0px;
  right: 0px;
  margin-right: 59px;
  margin-top: 20px;
}

#pokemon-hp-text {
  font-family: 'Gill Sans Std Extra Bold';
  font-size: 11px;
  margin-right: 1px;
}

#pokemon-hp {
  font-family: 'Futura LT CondensedBold';
  font-size: 26px;
}

.pokemon-middle {
  font-family: 'Gill Sans Std Regular';
  font-size: 9px;
  white-space: nowrap;
  position: absolute;
  top: 301px;
  left: 50%;
  transform: translate(-50%, -100%);
}

#pokemon-attack-container-1 {
  position: absolute;
  top: 345px;
  left: 24px;
  display: flex;
  width: 377px;
  justify-content: space-between
}

.attack-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 225px;
}

.attack-text {
  font-family: 'Gill Sans Std Bold Condensed';
  text-transform: capitalize;
  font-size: 24px;
  text-align: left;
}

.attack-details {
  font-family: 'Gill Sans Std Regular';
  font-size: 16px;
}

.attack-dmg {
  font-family: 'Futura LT Regular';
  font-size: 21px;
  font-weight: bold;
}

.attack-style-container {
  display: flex;
  margin-top: 4px;
  width: 100px;
}

.attack-style {
  background: black;
  border: 2px solid gray;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  margin-left: 2px;
  margin-right: 2px;
}

.pokemon-bottom {
  font-family: 'Gill Sans Std Bold';
  font-size: 8.7px;
  width: 160px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 53px;
  margin-right: 51px;
}

@media only screen and (max-width: 600px) {
  .pokemon-logo {
    width: 265px;
  }
  
  .ball-img {
    height: 55vmin;
  }

  .card-img {
    height: 400px;
  }
  
  .ball-img:hover {
    height: 56.5vmin;
  }

  .pokemon-img {
    top: 39px;
    height: 155px;
  }

  .prev-pokemon-img {
    margin-top: 25px;
    margin-left: 17px;
    height: 33px;
  }
  
  .pokemon-header {
    margin-left: 70px;
    margin-top: 12px;
  }
  
  #pokemon-name {
    font-size: 22px;
  }
  
  .pokemon-hp-header {
    margin-right: 40px;
    margin-top: 12px;
  }
  
  #pokemon-hp-text {
    font-size: 9px;
    margin-right: 1px;
  }
  
  #pokemon-hp {
    font-size: 22px;
  }
  
  .pokemon-middle {
    font-size: 8px;
    top: 199px;
  }
  
  #pokemon-attack-container-1 {
    top: 220px;
    left: 17px;
    width: 237px;
  }
  
  .attack-text-container {
    width: 225px;
  }
  
  .attack-text {
    font-size: 20px;
  }
  
  .attack-details {
    font-size: 12px;
  }
  
  .attack-dmg {
    font-size: 17px;
  }
  
  .attack-style-container {
    margin-top: 5px;
    width: 100px;
  }
  
  .attack-style {
    width: 10px;
    height: 10px;
    margin-left: 2px;
    margin-right: 2px;
  }
  
  .pokemon-bottom {
    font-size: 6.2px;
    width: 103px;
    margin-bottom: 31px;
    margin-right: 37px;
  }
}